.body{
    background-color: rgb(133, 130, 177);
    margin-left: 500px;
    margin-bottom: 300;
    width: 500px;
    height: 720px;
    padding: 00px;
    border-radius: 30px;
    box-shadow: rgb(58, 46, 188) 20px -10px 20px -10px;
    
    
}
.ti{
    margin-left: 45px;
}